@font-face {
    font-family: "Galette";
    src: url('../fonts/galette-med.otf');
}

* { margin:0; padding:0; font-family: sans-serif;}

.header {
    background: rgb(37,37,37); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(37,37,37,1) 0%, rgba(9,9,9,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,37,37,1)), color-stop(100%,rgba(9,9,9,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(37,37,37,1) 0%,rgba(9,9,9,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(37,37,37,1) 0%,rgba(9,9,9,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(37,37,37,1) 0%,rgba(9,9,9,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(37,37,37,1) 0%,rgba(9,9,9,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#090909',GradientType=0 ); /* IE6-9 */

    padding-bottom: 24px;
}

.header .logo {
    color: rgb(0,173,275);
    margin-left: 32px;
}

.header h2,
.header .floater .app {
    color: rgb(204,204,204);
    font-family: "Galette", Verdana, sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.header h2 {
    float: right;
    margin-top: 80px;
    margin-right: 32px;
    text-align: right;
    width: 500px;
}

.header .floater {
    position: absolute;
    right: 32px;
    top: 0;
}

.header .floater .app {
    background-color: rgb(0,173,275);
    color: white;
}

.header .floater .app,
.header .floater .callout {
    padding: 4px 8px 2px 8px;
}

.header .floater .callout {
    background-color: rgb(0,0,0);
    color: rgb(89,89,89);
    font-size: 13px;
}

.content { width: 100%; }

.content .date_select,
.content .category_select {
    padding: 16px;
}

.content .date_select {
    background: rgb(225,225,225); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(225,225,225,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,225,225,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(225,225,225,1) 0%,rgba(219,219,219,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.content .category_select {
    background: rgb(234,234,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}

.content .date_select .label,
.content .date_select .instructions,
.content .category_select .label,
.content .category_select .instructions {
    color: rgb(153,153,153);
    font-family: serif;
    font-size: 18px;
    font-style: italic;
}

.content .date_select .instructions,
.content .date_select .year,
.content .date_select .month,
.content .date_select .day,
.content .category_select .instructions,
.content .category_select .category {
    display: inline-block;
    padding: 16px;
    vertical-align: top;
}

.content .date_select .year,
.content .date_select .month,
.content .date_select .day,
.content .category_select .category {
    box-shadow: 0 2px #CBCBCB;
}

.content .date_select .year,
.content .date_select .month,
.content .date_select .day,
.content .category_select .category {
    background-color: rgb(255,255,255);
    border-radius: 3px;
}

.content .date_select .year li,
.content .date_select .month li,
.content .date_select .day li {
    color: rgb(0,0,0);
    font-family: serif;
    font-size: 34px;
    font-style: italic;
}

.content .date_select .instructions {
    background-image: url("../images/setdateinstruc.png");
    height: 54px;
    padding: 28px 46px 16px 16px;
    width: 170px;
}
.content .date_select .year { 
    background-image: url("../images/drop1.png");
    width: 120px; 
}
.content .date_select .month {
    background-image: url("../images/drop2.png");
    width: 244px;
}
.content .date_select .day {
    background-image: url("../images/drop3.png");
    width: 86px;
}

.content .date_select .separator {
    background: url("../images/sep1.png") 0 0;
    display: inline-block;
    height: 100px;
    width: 68px;
}

.content .category_select .instructions {
    background-image: url("../images/chooseinstruc.png");
    height: 22px;
    padding: 10px;
    width: 180px;
}

.content .category_select .category {
    background-image: url("../images/drop4.png");
    height: 8px;
    width: 710px;
}

.content .date_select li,
.content .category_select li {
    list-style: none;
}

.content .date_select li.selected,
.content .category_select li.selected {
    display: block;
}

.content #map {
    height: 600px;
    margin: 40px 40px 0 40px;
}

.content .slider_wrap {
    background-color: rgb(153,153,153);
    margin: 0 40px 40px 40px;
    padding: 1px;
}

.content #slider {
    margin: 8px;
}

.content #slider.ui-slider-horizontal {
    height: 8px;
}

.content .ui-slider-horizontal .ui-slider-handle {
    background: rgb(255,255,255);
    height: 16px;
    width: 14px;
    top: -5px;
}

.footer {
    background: rgb(0,0,0);
    padding: 4px;
}

.footer span,
.footer a {
    color: rgb(149,149,149);
    font-size: 12px;
    text-decoration: none;
}



/* Dropdown */
.category .dropdown-toggle { cursor: pointer; display: block; width: 100%; }
.category.dropdown.open #categories > li {
    cursor: pointer;
    display: block;
    padding: 2px 4px;
}

.category.dropdown.open #categories > li:hover {

}

